---
import "@fontsource-variable/inter";
import "~/styles/index.css";

const { generator, site } = Astro;

export interface Props {
  title: string;
  description: string;
  imageUrl: string;
  white?: boolean;
}

const { title, description, imageUrl } = Astro.props;
const image = new URL(imageUrl, site);
---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Astro" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body
    class="h-full overflow-x-hidden bg-section text-default text-base selection:bg-secondary selection:text-white"
  >
  <slot />
  </body>
</html>